@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;600;800;900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}
.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-attachment: fixed;
    color: #fff;
}


.section-1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/london.bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}
.section-2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/new-york-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}
.section-3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/tokio_bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}
.section-4 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/moscow_bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}
.section-5 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/rome_bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}
.section-menu{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/travel_bg.jpg');
    background-size: cover;
    background-position: center;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 35px;
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    

}

a:hover{
    font-size: 40px;
    color:rgb(27, 8, 153);
}
a:active{
    color:orange
}
